@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ImageRecord>

<h2>Uploaded Images</h2>
<ul>
    @foreach (var image in Model)
    {
        <li>
            <img src="@image.Url" alt="uplImg" width="200" />
            <p>File Name: @image.FileName</p>
        </li>
    }
</ul>
@foreach (var file in Model.Files)
{
    <div>
        <h3>@file.FileName</h3>
        <img src="@file.CompressedImageUrl" alt="Compressed Image" />
    </div>
}
